@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: 'Space Mono', monospace;
  font-size: 62.5%;
}

body {
  background: var(--light-grayish-cyan);

  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  height: 14.4rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background: var(--white);
  border-radius: 25px 25px 0 0;

  padding: 3.2rem;

  max-width: 48rem;
}

label {
  color: var(--dark-grayish-cyan);

  margin-bottom: 0.6rem;

  font-size: 1.6rem;
}

input {
  border: none;
  outline: none;

  font-size: 2.4rem;
  color: var(--very-dark-cyan);

  width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: none;
}
